<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>

    <div class="container">
        <div class="weather_container">
            <div class="temp">
                <p>20</p>
            </div>
            
            <div class="location">
                <p>Garden Grove</p>
                <p id="date">1:19 - Tuesday 2024-10-01</p>
            </div>


            <div class="condition">
                <div><img class="icon" src=""></div>
    
                <p id="weather_type">Mist</p>
            </div>
        </div>

        <nav>
            <form>
                <input type="text" placeholder="Search Location" class="search_area"/>
                <button type="submit"> Search</button>
    
            </form>
    
        </nav>


    </div>

</body>
<script src="/index.js"></script>
</html>